.header {
  box-sizing: border-box;
  margin: auto;
  height: 74px;
  max-width: 880px;
  border-bottom: 1px solid #545454
}

@media screen and (max-width:767px) {
  .header {
    max-width: fit-content;
    width: 100%;
    margin-left: 27px;
    height: 56px;
  }
}