.bio__description{
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin: 16px 0 0;
  padding: 0;
}

@media screen and (max-width:768px) {
  .bio__description{
    font-size: 14px;
    margin-top: 14px;
  }
}